@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
    Layout = "_Layout.cshtml";
}
<section id="todoapp" ng-controller="TodoCtrl">
    <header id="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="addTodo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
        </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>
        <ul id="todo-list">
            <li ng-repeat="todo in todos">
                {{todo.Name}} na
            </li>
        </ul>
    </section>
</section>